# 1. Perkenalan

Nama    : Faiz Kurniawan\
Batch   : RMT 018

# 2. Judul/Penanda Soal

<p style='text-align: justify;'> 1. Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik:


R adalah Hambatan dalam satuan Ohm\
P adalah Daya dalam Watt\
I adalah kuat arus dalam satuan Ampere\
V adalah tegangan dalam satuan Volt\
\
a. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

b. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

c. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.</p>

# 3. Import pustaka yang dibutuhkan

In [291]:
import pandas as pd
import numpy as py

# 4. Data Loading

In [292]:
df = pd.read_excel('NMC1-9.xlsx')
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

# 5. Answer

In [293]:
def hambatan(V, I):
    R = V / I
    print(R)

hambatan(1,2)

0.5

In [294]:
def daya(V, I):
    P = V * I
    print(P)

daya(1,2)

2

In [295]:
df['R/P'] = ''
df

       time(s)    V_m  Current (A)  Cycle       Cap R/P
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...  ..
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 6 columns]

In [296]:
hasil = []
for x in df["Cap"]:
   if x >= 2.5:
      x = daya(df["V_m"], df["Current (A)"])
      df['R/P'].append(x)
   elif x < 2.5:
      x =  hambatan(df["V_m"], df["Current (A)"])
      df['R/P'].append(x)
   break

0        4.085706
1        4.087808
2        4.089906
3        4.084814
4        4.087908
           ...
90977    2.511012
90978    2.509008
90979    2.507004
90980    2.505000
90981    2.501994
Length: 90982, dtype: float64

C:\Users\kaboe\AppData\Local\Temp\ipykernel_1060\4206523301.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df['R/P'].append(x)

In [297]:
df

       time(s)    V_m  Current (A)  Cycle       Cap R/P
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...  ..
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 6 columns]

# 6. Hasil